.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.div {
    width: 390px;
    border-radius: 10px;
    padding: 77px 55px 33px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    font-size: 1rem;
    display: grid;
}

.validate-form {
    width: 100%;
}

.span {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333;
    line-height: 1.2;
    text-align: center;
}

.buttonClass {
    display: inline-block;
    background: #E6EEEE;
    padding: 2px 2px;
    margin: 5px 5px;
    text-decoration: none;
    border-radius: 1px;
    color: #333;
}

.buttonClass:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    color: #a00;
}