.div {
    position: absolute;
}

.validate-form {
    width: 100%;
}

.buttonClass {
    display: inline-block;
    background: #E6EEEE;
    padding: 2px 2px;
    margin: 5px 5px;
    text-decoration: none;
    border-radius: 1px;
    color: #333;
}

.buttonClass:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    color: #a00;
}